<!DOCTYPE HTML>
<html>
    <head>
        <title>
            home
        </title>
    </head>
    <body>
        <div class="" >
            <div class="re-mail" >
                Re-mail 
            </div>
            <input type="button" class="loginb" value="Log in" onClick="location.href='/login/'">
            </input>
            <input type="button" class="signupb" value="Sign up" onClick="location.href='signup.html'">
            </input>
            <input type="button" class="about" value="about" onClick="location.href='/about/'">
            </input>
        </div>
    </body>
</html>